webfont("Sanzettica", "Sanzettica")
webfont("Apercu", "Apercu")
webfont("Apercu Bold", "Apercu-Bold")

serif()
	font-family Georgia, "Georgia", serif

sans-serif()
	font-family "Apercu", Helvetica, sans-serif
	strong
		font-family "Apercu Bold", Helvetica, sans-serif

heading()
	font-family "Sanzettica", sans-serif

.serif
	serif()

.sans-serif
	sans-serif()

.title, .heading, .lead
	heading()

.ls-small
	letter-spacing -0.01em

.ls-narrow
	letter-spacing -0.03em